body {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

h1 {
  font-size: 1.7rem;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
}

#current_time {
  font-size: 2rem;
  font-weight: 600;
}

#speed {
  display: flex;
  margin-left: 0.5rem;
  gap: 0.5rem;
}

.toggleButton {
  outline: 1px solid #000;
  border-radius: 10px;
  padding: 0.5rem;
}

.toggleButton:hover {
  cursor: pointer;
}

.beehive {
  width: 60%;
}

#beehive {
  min-height: 50vh;
}

.dot:hover {
  cursor: pointer;
}

.selected {
  color: mediumslateblue;
}

.other {
  width: 40%;
  position: relative;
}

.rankings {
  height: 380px;
}

#bar-chart {
  width: 48%;
  position: absolute;
  top: 0;
  left: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px; /* Adjust the thickness as desired */
  shape-rendering: crispEdges;
}

#ranking {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  text-align: left;
}

#ranking .row {
  justify-content: left;
}

#ranking p {
  margin-left: 0.5rem;
  margin-top: 0;
}

.number {
  font-weight: bold;
}

#tooltip {
  color: #454545;
  opacity: .9;
  background: #eee;
  padding: 5px;
  border: none;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  visibility: hidden;
  white-space: nowrap;
  pointer-events: none;
}

.node {
  font-size: 10px;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.treemap {
  position: relative;
}

#treemap {
  position: absolute;
  top: 70px;
  left: 0px;
}

#treeNode {
  color: #FF0000;
}
